    /* #plaatjegoud { width: 100%; } */
    body {
        background-image: url('goud.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        margin: 0px;
    }

    #titel {
        text-align: center;
        color: white;
    }

    .menu {
        display: flex;
        flex-direction:row;
        justify-content:flex-end;
        gap: 30px;
        background-color:brown;
        margin-bottom: 50px;
        padding:50px;
    }

    .menu a {
        color: black;
        text-decoration: none;
        
        &:hover {
            color: green;
        }
    }

    .plaatjes {
        display: flex;
        flex-direction:row;
        flex-wrap: wrap;
        gap: 30px;
        background-color: pink;
        padding: 20px;
        margin: 50px;

        img {
            height: 200px;
        }
    }


