   /* zorgt ervoor dat de website over de hele pagina gaat*/
    html,
    body {
        height: 100%;
        width: 100%;
        padding: 0;
        margin: 0;
    }
/* dit is het achtergronplaatje, er is ervoor gezorgd dat hij zichzelf niet herhaalt, vastaat en de hele pagina bedekt*/
    body {
        background-image: url('goud.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        display: flex;
        flex-direction: column;
    }

    /*dit de kleur, de plek en het letterttype van de titel*/
    #titel {
        text-align: center;
        color: white;
        font-family: "Sevillana", cursive;
    }
/* dit is de menubalk , er wordt ervoor gezord dat hij een bruine achtergronkleur heeft, dat alle items (tekst/icoontjes) aan het ''einde'' van de balk staan en dat er overal 30px ruimte tussenzit, ook staat er dat de balk een margin en padding moet hebben*/
    .menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        gap: 30px;
        background-color: brown;
        margin-bottom: 50px;
        padding: 50px;
    }
/* de linkjes worden zwart en niet underlined, als je met je muis over de icoontjes in de menubalk gaat worden ze roze*/
    .menu a {
        color: black;
        text-decoration: none;

        &:hover {
            color: pink;
        }
    }

    /*de achtergrondkleur van de div wordt roze*/
    .plaatjes {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 30px;
        background-color: pink;
        padding: 20px;
        margin: 50px;

/*dit zegt dat ieder plaatje 200px hoog moet zijn*/
        img {
            height: 200px;
        }

    }

/*als je op het woord contact klikt, wordt het blok op de achtergrond van de pagina een roze kleur */
    .contact {
        gap: 30px;
        background-color: pink;
        padding: 20px;
        margin: 50px;
    }

/*als je op het woord account klikt, wordt het blok op de achtergrond van de pagina een roze kleur */
    .account {
        gap: 30px;
        background-color: pink;
        padding: 20px;
        margin: 50px;
    }
/*poppetje bij inloggen wordt in het midden gezet */
    .poppetje {
        display: flex;
        justify-content: center;
    }
/*symbooltje poppetje wordt 60px*/
    .material-symbols-outlined.bigfont {
        font-size: 60px;
    }
/* footer wordt bruin met een padding van 0px, alles wat erin wordt getypt is wit en staatinhet midden*/
    footer {
        background-color: brown;
        padding: 0px;
        text-align: center;
        color: white;
    }

/*dit zorgt ervoor dat de randjes niet zo hoekig worden*/
    input {
        border-radius: 5px;

    }

/*dit zorgt ervoor dat de randjes niet zo hoekig worden*/
    button {
        border-radius: 10px;
    }
/* het balkje waar je je gerbuikersnaamen wachtwoord in invult worden ze naar het midden gezet*/
    .invulveld {
        display: flex;
        align-items: center;
        gap: 5px;
    }
/*is voor copyright balk om die vast te laten staan onderaan de pagina*/
    .filler {
        flex: auto;
    }
/* plaats van het pijltje terug, de grootte van het pijltje en dat het pijltje roze wordt als je er met je muis overheen gaat*/
    .backlink {
        margin-left: 50px;

        span {
            font-size: 36px;
        }

        &:hover {
            color: pink;
        }
    }

    /*als de op winkelwagen klikt, wordt het blok op de achtergond van de pagina roze*/
    .winkelwagen,
    .favorieten {
        display: flex;
        justify-content: center;
        background-color: pink;
        padding: 20px;
        margin: 50px;
    }